<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feri.com.halopico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modul.profil.UbahPasswordActivity"></activity>
        <activity android:name=".modul.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modul.lihatselfreport.LihatSelfReport" />
        <activity android:name=".modul.ZoomingImage" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/provider_path" />

        <activity android:name=".modul.histori.HistoryActivity" />
        <activity android:name=".modul.profil.UbahProfilActivity" />
        <activity android:name=".modul.skrinning.ResultSkrinningActivity" />
        <activity android:name=".modul.skrinning.SkrinningActivity" />
        <activity android:name=".modul.selfreport.ThankYou" />
        <activity android:name=".modul.selfreport.SelfReportActivity" />
        <activity android:name=".modul.datadiri.DataDiriActivity" />
        <activity android:name=".modul.autentikasi.RegisterActivity" />
        <activity android:name=".modul.autentikasi.LoginActivity" />
        <activity android:name=".modul.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="feri.com.halopico.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>